.flex-container {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   background-color: lightgray;
   width: 100%;
}

.flex-container > header {
    background-color: darkmagenta;
    color: white;
    text-align: center;
    width: 20%;
}

.article-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 222, 100);
    margin: 3px;
    padding: 3px;
    width: 25%;
}

.article-wrapper > article {
    background-color: rgb(232, 68, 117);
    color: white;
    text-align: center;
    margin: 2px;
    padding: 5px;
    width: 70%;
}

.flex-container > aside {
    background-color: darkslateblue;
    text-align: center;
    color: white;
    margin: 5px;
    padding: 5px;
    width: 20%;
}

.flex-container > footer {
    background-color: orange;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    width: 20%;
}