.flex-container {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   align-self: center;
   background-color: lightgray;
   border: 1px;
}

.flex-container > header {
    flex: 1 1 auto;
    background-color: darkmagenta;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    flex-basis: 20px;
}

.article-wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 222, 100);
    margin: 5px;
    padding: 5px;
}

.article-wrapper > article {
    flex: 1 1 auto;
    background-color: rgb(232, 68, 117);
    color: white;
    text-align: center;
    margin: 15px;
    padding: 5px;
    border: 5 px;
    flex-basis: 20px;
}

.flex-container > aside {
    flex: 1 1 auto;
    background-color: darkslateblue;
    text-align: center;
    color: white;
    margin: 15px;
    padding: 5px;
    flex-basis: 20px;
}

.flex-container > footer {
    flex: 1 1 auto;
    background-color: orange;
    color: white;
    text-align: center;
    margin: 15px;
    padding: 5px;
    flex-basis: 20px;
}